<% # encoding: utf-8
  require 'onboard/crypto/easy-rsa'
  require 'onboard/crypto/ssl'

  pkinames = objects - ['external', 'default'] + ['default']
  pkis = pkinames.map{|pkiname| OnBoard::Crypto::SSL::PKI.new(pkiname)}
%>

<h2><%= title %></h2>

<table>
  <thead>
    <tr>
      <th>PKI</th>
      <th style="width: 1em">Num. certificates</th>
    </tr>
  </thead>
  <tbody>
    <% pkis.each do |pki| %>
      <tr>
        <%
          displayname = case pki.name
          when 'default'
            '<em>Default PKI</em>'
          else
            pki.name
          end
        %>
        <td><a href="easy-rsa/<%= pki.name %>.html"> <%= displayname %></a></td>
        <%
          displaynum = case pki.num_certs
          when 0
            '<span class="lowlight">&minus;</span>'
          else
            pki.num_certs
          end
        %>
        <td class="num"><%= displaynum %></td>
      </tr>
    <% end %>
    <tr>
      <td>
        <form method="POST">
          <button type="submit">(Add new!)</button> <input type="text" name="pkiname"/> 
        </form>
      </td>
      <td></td>
    <tr>
  </tbody>
</table>

