<% # encoding: utf-8
  require 'onboard/crypto/easy-rsa'
  require 'onboard/crypto/ssl'

  pkinames = objects - ['external']
%>

<h2><%= title %></h2>

<table>
  <thead>
    <tr>
      <th>PKI</th>
    </tr>
  </thead>
  <tbody>
    <% pkinames.each do |pkiname| %>
      <% next if pkiname == 'default' %>
      <tr>
        <td><a href="easy-rsa/<%= pkiname %>.html"> <%= pkiname %></a></td>
      </tr>
    <% end %>
    <tr>
      <td><a href="easy-rsa/default.html" style="font-style:italic">Default PKI</a></td>
    </tr>
    <tr>
      <td>
        <form method="POST">
          <button type="submit">(Add new!)</button> <input type="text" name="pkiname"/> 
        </form>
      </td>
    <tr>
  </tbody>
</table>

